$default-transition-duration: 0.3s;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$instagram-color: #7f729b;


$main-text: #000; // main text
$link: #acb7c0; // anchor tags
$background: #fff; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

