@charset "UTF-8";
/*------------------------------------*\
    $Reset
\*------------------------------------*/
/* line 10, ../sass/social.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/social.scss */
body{
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/social.scss */
a {
  text-decoration: none;
}

/* line 20, ../sass/social.scss */
img {
  max-width: 100%;
}

/*------------------------------------*\
    $Th├¿me 1
\*------------------------------------*/
/* line 26, ../sass/social.scss */
.cb {
  clear: both;
  line-height: 1px;
}

/* line 30, ../sass/social.scss */
.content {
  border: solid 1px transparent;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: 100%;
  width: 100%;
  background-color: rgba(69, 167, 177, 0.8);

}
/* line 40, ../sass/social.scss */
.content:before {
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("../images/bg_theme_1.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: -1;
}


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
/* line 57, ../sass/social.scss */
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
/* line 62, ../sass/social.scss */
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* line 69, ../sass/social.scss */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 77, ../sass/social.scss */
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #FFF;
}
@media only screen and (min-width: 1170px) {
  /* line 69, ../sass/social.scss */
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  /* line 92, ../sass/social.scss */
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/* line 99, ../sass/social.scss */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 104, ../sass/social.scss */
.cd-timeline-block:first-child {
  margin-top: 0;
}
/* line 106, ../sass/social.scss */
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  /* line 99, ../sass/social.scss */
  .cd-timeline-block {
    margin: 4em 0;
  }
  /* line 112, ../sass/social.scss */
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  /* line 113, ../sass/social.scss */
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/* line 118, ../sass/social.scss */
.cd-timeline-social {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 4px #FFF;
  color: #FFF;
  text-align: center;
}
/* line 128, ../sass/social.scss */
.cd-timeline-social i {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 136, ../sass/social.scss */
.cd-timeline-social.cd-facebook {
  background: #3b5998;
}
/* line 137, ../sass/social.scss */
.cd-timeline-social.cd-twitter {
  background: #55acee;
}
/* line 138, ../sass/social.scss */
.cd-timeline-social.cd-instagram {
  background: #7f729b;
}
@media only screen and (min-width: 1170px) {
  /* line 118, ../sass/social.scss */
  .cd-timeline-social {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /* line 147, ../sass/social.scss */
  .cssanimations .cd-timeline-social.is-hidden {
    visibility: hidden;
  }
  /* line 148, ../sass/social.scss */
  .cssanimations .cd-timeline-social.bounce-in {
    visibility: visible;
    -moz-animation: cd-bounce-1 0.6s;
    -webkit-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 171, ../sass/social.scss */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #FFF;
  min-height: 60px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 180, ../sass/social.scss */
.cd-timeline-content img {
  width: 100%;
}
/* line 184, ../sass/social.scss */
.cd-timeline-content p {
  padding: 1em;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 189, ../sass/social.scss */
.cd-timeline-content small {
  font-size: 12px;
  font-size: 0.75rem;
  float: left;
  color: #757575;
  font-style: italic;
  padding: 0 1em 1em 1em;
}
/* line 196, ../sass/social.scss */
.cd-timeline-content .author, .cd-timeline-content .author-facebook, .cd-timeline-content .author-twitter, .cd-timeline-content .author-instagram {
  font-size: 12px;
  font-size: 0.75rem;
  float: right;
  padding: 0 1em 1em 1em;
  overflow: hidden;
  *zoom: 1;
}
/* line 202, ../sass/social.scss */
.cd-timeline-content .author-facebook {
  color: #3b5998;
}
/* line 206, ../sass/social.scss */
.cd-timeline-content .author-twitter {
  color: #55acee;
}
/* line 210, ../sass/social.scss */
.cd-timeline-content .author-instagram {
  color: #7f729b;
}
/* line 215, ../sass/social.scss */
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #FFF;
}
@media only screen and (min-width: 768px) {
  /* line 227, ../sass/social.scss */
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  /* line 231, ../sass/social.scss */
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.3rem;
  }
  /* line 235, ../sass/social.scss */
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  /* line 171, ../sass/social.scss */
  .cd-timeline-content {
    margin-left: 0;
    width: 45%;
  }
  /* line 244, ../sass/social.scss */
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  /* line 252, ../sass/social.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  /* line 255, ../sass/social.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  /* line 263, ../sass/social.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  /* line 267, ../sass/social.scss */
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  /* line 274, ../sass/social.scss */
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  /* line 278, ../sass/social.scss */
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -moz-animation: cd-bounce-2 0.6s;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* line 286, ../sass/social.scss */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -moz-animation: cd-bounce-2-inverse 0.6s;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
